<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{{ page.title | default: site.title }}</title>

        <!-- REQUIRED for mobile responsiveness -->
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            rel="stylesheet"
            href="{{ '/assets/style.css' | relative_url }}"
        />
        <link rel="icon" href="{{ '/favicon.ico' | relative_url }}" />
        <script src="{{ '/assets/script.js' | relative_url }}" defer></script>
    </head>
    <body>
        <main class="box" markdown="1">
            {{ content }}

            <footer>
                Recreation of
                <a href="https://github.com/JakeGinesin/jakegines.in">
                    Jake Ginesin's
                </a>
                site, built from scratch for a minimal footprint.
            </footer>
        </main>
    </body>
</html>
