<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{{ page.title | default: site.title }}</title>
        <link
            rel="stylesheet"
            href="{{ '/assets/style.css' | relative_url }}"
        />
    </head>
    <body>
        <div class="box" markdown="1">
            {{ content }}

            <footer>
                Recreation of
                <a href="https://github.com/JakeGinesin/jakegines.in"
                    >Jake Ginesin's</a
                >
                site, built from scratch for a minimal footprint.
            </footer>
        </div>
    </body>
</html>
